body {
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.first-screen {
    background-color: #EEEFF1;
}

.link {
    display: inline-block;
    text-transform: uppercase;
    margin: 79px 42px 0px 0px;
    text-decoration: none;
    line-height: 18px;
    color: black;
    font-weight: 400;
}

.link.first {
    margin-left: 0px;
    color: #34547A;
}

.title {
    line-height: 60px;
    margin: 160px 0px 0px 0px;
    width: 541px;
    font-size: 48px;
    font-weight: 500;
}

.text {
    line-height: 26px;
    width: 540px;
    margin: 45px 0px 0px 0px;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.button {
    margin: 54px 0px 141px 0px;
    padding: 19px 41px;
    text-transform: uppercase;
    background-color: #34547A;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.main {
    text-align: center;
}

.about-me {
    display: inline-block;
    margin: 112px 0px 0px 0px;
    line-height: 38px;
    width: 403px;
    font-size: 32px;
    font-weight: 500;
}

.text.about {
    text-align: center;
    margin: 42px auto 89px auto;
    width: 540px;
    font-size: 16px;
    font-weight: 400;
}

.folio {
    text-align: left;
    background-color: #34547A;
    padding: 100px;
}

.icon {
    margin-right: 20px;
}

.projects {
    display: inline-block;
    vertical-align: top;
    color: white;
    font-size: 16px;
    line-height: 18px;
    margin-right: 45px;
    margin-top: 3px;
    width: 71px;
}

.projects.last {
    margin-right: 0px;
}

.qty {
    display: inline-block;
    font-size: 21px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 5px;
}

.about-me.work {
    margin-top: 100px;
}

.video {
    margin: 46px 0px 100px 0px;
}

.footer {
    background-color: #34547A;
    padding: 50px 0px 47px 0px;
    color: white;
}

.author {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 500;
}

.rights {
    font-size: 13px;
    font-weight: 400;
}